<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/login"></ion-back-button>
		</ion-buttons>
		<ion-title>register</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
<p>register</p>
</ion-content>
