<!--
<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="logout()">
				<ion-icon slot="icon-only" name="log-out"></ion-icon>
			</ion-button>
		</ion-buttons>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
				dashboard
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
<p>dashboard</p>
</ion-content>
