<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Lots
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding>

	<ion-slides>

		<!-- slide 1 -->
		<ion-slide>
<!--
			<h1>Slide 1</h1>

			<ion-text color="primary">
				<h2>H2: The quick brown fox jumps over the lazy dog</h2>
			</ion-text>

			<ion-item>
				<ion-label>
					Large Icon End
				</ion-label>
				<ion-icon name="information-circle" size="large" slot="end"></ion-icon>
			</ion-item>

			<ion-item>
				<ion-label text-wrap>
					<ion-text color="primary">
						<h3>H3 Primary Title</h3>
					</ion-text>
					<p>
						Multiline text that should wrap when it is too long
						to fit on one line in the item.
					</p>
					<ion-text color="secondary">
						<p>Paragraph line 2 secondary</p>
					</ion-text>
				</ion-label>
			</ion-item>

			<ion-item>
				<ion-thumbnail slot="start">
					<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
				</ion-thumbnail>
				<ion-label>Item Thumbnail</ion-label>
			</ion-item>
-->

			<ion-card>
				<ion-card-header>
					<ion-card-subtitle>Bidding for:</ion-card-subtitle>
					<!--<ion-card-title>{{lot.name}}</ion-card-title>-->
				</ion-card-header>

				<ion-card-content>
					<ion-list>

						<ion-item-divider>
							<ion-item lines="none">
								<ion-thumbnail slot="start">
									<!--<img src="{{lot.picture}}" />-->
									<img src="https://picsum.photos/420/320?image=0" />
								</ion-thumbnail>
								<ion-label>{{lot.name}}</ion-label>
								<ion-text slot="end" color="primary">
									{{ lot.startPrice }}
								</ion-text>
							</ion-item>
						</ion-item-divider>

						<ion-item>
							<ion-label>Starting Price:</ion-label>
							<ion-text slot="end" color="primary">
								{{ lot.startPrice }}
							</ion-text>
						</ion-item>
						<ion-item>
							<ion-label>Current Price:</ion-label>
							<ion-text slot="end" color="secondary">
								<b>{{ lot.currentPrice }}</b>
							</ion-text>
						</ion-item>

						<ion-item>
							<ion-grid>
								<ion-row>
									<ion-col>
										<ion-label>Raise:</ion-label>
									</ion-col>
								</ion-row>
								<ion-row justify-content-center>
									<ion-col size="4">
										<ion-button (click)="bidMinX(1)" expand="block">Min</ion-button>
									</ion-col>
									<ion-col size="4">
										<ion-button (click)="bidMinX(3)" expand="block"> &nbsp; 3 X &nbsp; </ion-button>
									</ion-col>
									<ion-col size="4">
										<ion-button (click)="bidMinX(5)" expand="block"> &nbsp; 5 X &nbsp;</ion-button>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-item>

						<ion-item lines="none">
							<ion-label>Enter Your Bid:</ion-label>
						</ion-item>

						<ion-item>
							<ion-input [(ngModel)]="bid" type="number" slot="start" min="{{ lot.currentPrice }}" placeholder="{{ lot.currentPrice }}"></ion-input>
							<ion-button (click)="placeBid(bid)" expand="block" slot="end"> &nbsp;&nbsp;&nbsp; B i d &nbsp;&nbsp;&nbsp; </ion-button>
						</ion-item>



							<ion-item>
								<ion-label lines="none"></ion-label>
							</ion-item>



						<ion-item>
							<ion-label>Bidding History:</ion-label>
						</ion-item>

						<ion-item>

							<ion-grid>
								<ion-row>
									<ion-col>amount</ion-col>
									<ion-col>bidder</ion-col>
									<ion-col>time</ion-col>
								</ion-row>
								<ion-row *ngFor="let bid of lot.bidHistory; let i = index">
									<ion-col><span [class.latestBid]="i==0">{{ bid.amount }}</span></ion-col>
									<ion-col><span [class.latestBid]="i==0">{{ bid.bidder }}</span></ion-col>
									<ion-col><span [class.latestBid]="i==0">{{ bid.time }}</span></ion-col>
								</ion-row>
							</ion-grid>

						</ion-item>

					</ion-list>
				</ion-card-content>
			</ion-card>

		</ion-slide>


		<!-- slide 2 -->
		<ion-slide>
			<h1>Slide 2</h1>
		</ion-slide>

		<ion-slide>
			<h1>Slide 3</h1>
		</ion-slide>
	</ion-slides>

<!--
	<ion-grid>

		<ion-row>
			<ion-col>
				Bidder
			</ion-col>
			<ion-col>
				Amount
			</ion-col>
			<ion-col>
				Time
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				Bidder
			</ion-col>
			<ion-col>
				Amount
			</ion-col>
			<ion-col>
				Time
			</ion-col>
		</ion-row>

		<ion-row *ngFor="let msg of messages; let i = index">
			<ion-col>
				lot: {{ msg.lotId }} <br />
				amount: {{ msg.amount }} <br />
				bidder: {{ msg.bidder }} <br />
			</ion-col>
		</ion-row>

	</ion-grid>
-->
</ion-content>
