ion-content, ion-content div .inner-scroll.scroll-y, .swiper-container, ion-grid.hydrated, ion-grid.hydrated > #shadow-root {
  height: 100% !important;
}

.swiper-container {
  min-height: calc(100% - 40px) !important;
  height: auto !important;
  background: transparent !important;
}

ion-refresher-content.hydrated {
  background: transparent !important;
}

ion-card {
  width: 100%;
}

.latestBid {
  animation: blinker 1s linear infinite;
  animation-iteration-count: 5;
  color: #0cd1e8;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
