<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      logout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div>
		<p>logged out</p>
		<ion-button color="secondary" href="/">go to login page</ion-button>
	</div>
</ion-content>
